openai
langchain
streamlit>=1.25.0
st_pages>=0.4.3
streamlit_chat
chromadb
tiktoken
streamlit-ext
PyPDF2==3.0.1
pysqlite3-binary
opencv-python-headless
camelot-py
st-btn-select
pdfminer.six
langchain-experimental
langchain-openai
langchain-text-splitters
ghostscript
docarray
streamlit-scrollable-textbox